---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    {% include navigation.html %}
</header>


<main class="content" role="main">
<article class="post">
<section class="post-content">

<p>I am a senior software engineer at Samsung Research, Samsung Electronics.
At Samsung Electronics, I have been working on mobile technologies, in particular,
Web platform for mobile and wearable devices. My research interests are in Web technologies,
data management, and query optimization. I obtained my B.Eng in Software Engineering
and Ph.D in Computer Science both from
<a href="http://www.unsw.edu.au" rel="nofollow">The University of New South Wales</a>
in 2005 and 2010, respectively.
Before joining Samsung Electronics in 2013, I was a postdoctoral researcher at
<a href="http://www.kaist.edu" rel="nofollow">KAIST</a>.</p>

<h2>Research Interests</h2>
<p>Web technology and data management. In particular,
<ul>
    <li>Web browser design and optimization</li>
    <li>Web languages</li>
    <li>Mobile Web technology</li>
    <li>Data management and query optimization</li>
</ul>
</p>
</section>
</article>
</main>
