---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    {% include navigation.html %}
</header>

<main class="content" role="main">
<article class="post">
<section class="post-content">

<p>I am a principal software engineer at Samsung Research, Samsung Electronics.
Currently, I am working on building and optimizing large scale
high-performance computing (HPC) systems for deep learning (DL) applications.</p>

<p>My research interests are in DL technologies, in particular, how to
efficiently train massive DL datasets in a cluster of HPC systems. In the past, I worked
on Web technologies for memory-constraint devices such as TV and smart watches.</p>

<p>I obtained my Ph.D in Computer Science in 2010, and a B.Eng in Software Engineering in 2005
both from <a href="http://www.unsw.edu.au" rel="nofollow">The University of New South Wales</a>.
I started my industry career as a software engineer at Software R&D Center (which has now become Samsung Research) in
2013, after a two years of research fellow appointment at <a href="http://www.kaist.edu" rel="nofollow">KAIST</a>.</p>

</section>
</article>
</main>
