<div class="custom-links">
  <a href={{ "/" | prepend: site.baseurl }}>Home</a>
  &nbsp;&nbsp;·&nbsp;&nbsp;
  <a href={{ "https://blog.rhchoi.com" | prepend: site.baseurl }}>Blog (in Korean)</a>
  &nbsp;&nbsp;·&nbsp;&nbsp;
  <a href={{ "/publications.html" | prepend: site.baseurl }}>Publications</a>
  &nbsp;&nbsp;·&nbsp;&nbsp;
  <a href={{ "/about.html" | prepend: site.baseurl }}>About</a>
  <!--
  {% for social in site.social %}
    {% if social.url %}
      &nbsp;&nbsp;·&nbsp;&nbsp;
      <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
        <i class="fa fa-{{ social.icon }}"></i>
      </a>
    {% endif %}
  {% endfor %}
  -->
</div>

